attrs==19.1.0
awscli==1.16.214
backcall==0.1.0
boto==2.49.0
boto3==1.9.204
botocore==1.12.204
bs4==0.0.1
decorator==4.4.0
Django==2.2.4
django-core==1.4.1
django-extensions==2.2.1
django-rest-knox==4.1.0
django-storages==1.7.1
djangorestframework==3.10.2
docutils==0.14
entrypoints==0.3
# mysqlclient==1.4.2.post1
Pillow==6.1.0
pyzmq==18.1.0
requests==2.22.0
six==1.12.0
urllib3==1.25.3
